In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-20 19:49:36,-54.8000,-68.3000,49.66,62,75,10.36
1,1,Rikitea,PF,2022-04-20 19:49:37,-23.1203,-134.9692,78.57,72,2,19.04
2,2,Tasiilaq,GL,2022-04-20 19:49:37,65.6145,-37.6368,41.16,92,91,1.45
3,3,Kapaa,US,2022-04-20 19:49:37,22.0752,-159.3190,78.78,76,20,16.11
4,4,Ntcheu,MW,2022-04-20 19:49:38,-14.8203,34.6359,60.62,92,17,5.21

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-04-20 19:49:37,-23.1203,-134.9692,78.57,72,2,19.04
3,3,Kapaa,US,2022-04-20 19:49:37,22.0752,-159.3190,78.78,76,20,16.11
14,14,Hithadhoo,MV,2022-04-20 19:49:41,-0.6000,73.0833,83.08,70,96,3.80
17,17,Teknaf,BD,2022-04-20 19:49:41,20.8624,92.3058,77.63,88,56,4.47
23,23,Dingle,PH,2022-04-20 19:49:43,10.9995,122.6711,76.48,90,16,6.51
24,24,Tagusao,PH,2022-04-20 19:49:43,9.1924,117.8141,78.91,86,100,5.32
25,25,Santo Antonio Do Ica,BR,2022-04-20 19:49:44,-3.1022,-67.9397,76.53,95,98,4.47
29,29,Souillac,MU,2022-04-20 19:49:45,-20.5167,57.5167,77.38,88,40,1.14
36,36,San Cristobal,VE,2022-04-20 19:49:47,7.7669,-72.2250,80.78,72,99,0.87
44,44,San Patricio,US,2022-04-20 19:49:49,28.0170,-97.5169,84.16,56,100,22.28

In [20]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
1                Rikitea      PF     78.57 -23.1203 -134.9692
3                  Kapaa      US     78.78  22.0752 -159.3190
14             Hithadhoo      MV     83.08  -0.6000   73.0833
17                Teknaf      BD     77.63  20.8624   92.3058
23                Dingle      PH     76.48  10.9995  122.6711
24               Tagusao      PH     78.91   9.1924  117.8141
25  Santo Antonio Do Ica      BR     76.53  -3.1022  -67.9397
29              Souillac      MU     77.38 -20.5167   57.5167
36         San Cristobal      VE     80.78   7.7669  -72.2250
44          San Patricio      US     84.16  28.0170  -97.5169

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,78.57,-23.1203,-134.9692,People ThankYou
3,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Hithadhoo,MV,83.08,-0.6000,73.0833,Scoop Guest House
17,Teknaf,BD,77.63,20.8624,92.3058,Forestry Guesthouse
23,Dingle,PH,76.48,10.9995,122.6711,SEGAYA PROPERTY
24,Tagusao,PH,78.91,9.1924,117.8141,Green Villa beach resort
25,Santo Antonio Do Ica,BR,76.53,-3.1022,-67.9397,HOTEL AMAZON WAY
29,Souillac,MU,77.38,-20.5167,57.5167,Shanti Maurice Resort & Spa
36,San Cristobal,VE,80.78,7.7669,-72.2250,Pirineos
44,San Patricio,US,84.16,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))